*__pycache__*
.vscode*
summary*
item.csv
personalization.csv
main.ipynb
pyarmor.error.log
pytransform.log
backup*
build*
chromedriver.exe
gifts.csv
bag.csv
statistics.csv
PortableGit*
tmp*
PortableGit-2.40.0-64-bit.7z.exe
*bak
venv*
bag.csv
launch_without_update.bat